# Python
__pycache__/
*.pyc
env/
venv/

# Django
db.sqlite3
*.log

# Node
node_modules/
build/

# Environment
.env

# VS Code
.vscode/

# Mac
.DS_Store

staticfiles/
media/

# migrations cache
*/migrations/__pycache__/